.menu {
    position: relative;
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.4;
    }

    &-sub {
        position: absolute;
        inset-block-start: 2.5rem;
        inset-inline-end: 0.3rem;
        user-select: none;
        width: 5.5rem;
        padding: 0.3rem;
        text-align: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        border-radius: 0.3rem;

        &_item {
            cursor: pointer;
            font-size: 1.2rem;
            
            &:hover {
                opacity: 0.6;
            }
        
            &:active {
                opacity: 0.4;
            }
        }
    }
}