.modal {
    background-color: white;
    border: 2px solid gray;
    outline: none;
    border-radius: 0.5rem;
    width: 50rem;
    padding: 0px;

    &::backdrop {
        backdrop-filter: blur(0.4rem);
    }

    &-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-block-start: 0.5rem;
        margin-inline: 0.5rem;
        user-select: none;
        font-size: 2rem;

        &_title {
            font-weight: bold;
        }

        &_close {
            cursor: pointer;
            
            &:hover {
                opacity: 0.6;
            }
        
            &:active {
                opacity: 0.4;
            }
        }
    }

    &-body {
        margin-block: 2rem;
        margin-inline: 0.5rem;
        font-size: 2rem;
    }
}