.keys {
    margin-inline: 0.313rem;
    margin-block-end: 0.625rem;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    place-items: center;
    justify-content: center;
    align-items: center;
    transition: all 0.45s ease-in-out;

    &--adv {
        grid-template: repeat(7, 1fr) / repeat(5, 1fr);
    }
}

.key {
}

