.calc {
    width: 100%;
    height: 100dvh;
    max-width: 48rem;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template: 50px 2fr 2fr / auto;

    &--advance {
        grid-template: 50px 2fr 3fr / auto;
    }
}

.calc-menu {
    margin-inline: 0.313rem;
    border: 5px solid yellow;
}

.calc-disp {
    margin-inline: 0.313rem;
    border: 5px solid blue;
}

.clac-key {
    margin-inline: 0.313rem;
    margin-block-end: 0.625rem;
    border: 5px solid green;
}