.calc {
    width: 98%;
    height: 98dvh;
    max-width: 48rem;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid red;
}

.calc-disp {
    height: 48.9%;
    border: 5px solid blue;
}

.clac-key {
    height: 48.9%;
    border: 5px solid green;
}